<div class="page-header">
    <h1>{{foto.titulo}}</h1>
</div>

<br><br>

<div class="alert alert-info" ng-show="mensagem.length">
    {{mensagem}}
</div>

<div class="row">
    <form name="formulario" ng-submit="salvar()" novalidate>
        <div class="col-md-6">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input ng-model="foto.titulo" name="titulo" class="form-control" ng-maxlength="20" required>
                <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.titulo.$error.required">
                    Obrigatório.
                </span>
                <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.titulo.$error.maxlength">
                    Máximo 20 chars.
                </span>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input  ng-model="foto.url" name="url" class="form-control" required>
                <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.url.$error.required">
                    Obrigatório.
                </span>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea ng-model="foto.descricao" name="descricao" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Grupo</label>
                <select name="grupo" class="form-control" required
                    ng-controller="GruposController"
                    ng-model="foto.grupo"
                    ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
                    <option value="">Selecione</option>
                </select>
                <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.grupo.$error.required">
                    Obrigatório
                </span>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
            <a href="/#/" class="btn" meu-focus>Voltar</a>
        </div>
        <div class="col-md-6">
            <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        </div>
    </form>
</div>