<h1>Login</h1>

<p class="alert-danger">
    {{mensagem}}
</p>

<form ng-submit="autenticar()">
    <div class="form-group">
        <label>Login</label>
        <input name="login" class="form-control" ng-model="usuario.login">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control" ng-model="usuario.senha">
    </div>
    <input type="submit" value="Autenticar" class="btn btn-success">
</form>