<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<hr ng-show="mensagem.length">
<div class="alert alert-info" ng-show="mensagem.length">
    {{mensagem}}
</div>
<hr ng-show="mensagem.length">

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group ">
                <input class="form-control" placeholder="Filtrar" ng-model="filtro" ng-model-options="{ debounce: 500 }">
                <span class="input-group-btn">
                    <a href="/#/fotos/new" class="btn btn-primary">Adicionar nova foto</a>
                </span>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        <hr>
        <a href="/#/fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">
            Editar
        </a>
        <botao-perigo acao="remover(foto)" nome="Remover"></botao-perigo>
    </meu-painel>
</div>